.menu {
  justify-content: center;
  align-items: center;
  margin: 13%;
  margin-left: 45%;
}
.enu {
  justify-content: center;
  align-items: center;
  margin: 13%;
  margin-left: 40%;
}
